<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h4 class="card-title">Update Student</h4>
    <hr/>
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-xs-12 col-12">Roll Number</label>
        <input type="text" class="form-control" formControlName="rollNumber" disabled/>
      </div>

      <div class="form-group">
        <label class="col-xs-12 col-12">Full Name</label>
        <input type="text" class="form-control" formControlName="fullName"/>
      </div>
      <div
        *ngIf="angForm.controls['fullName'].invalid && (angForm.controls['fullName'].dirty || angForm.controls['fullName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['fullName'].errors.required">
          Full Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-12 col-12">Admission Year</label>
        <select formControlName="admissionYear" class="form-control" class="custom-select mb-3">
          <option *ngFor="let year of years"> {{year}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['admissionYear'].invalid && (angForm.controls['admissionYear'].dirty || angForm.controls['admissionYear'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['admissionYear'].errors.required">
          Admission Year is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-12 col-12">Select Admission to Degree</label>
        <select formControlName="degree" class="form-control" class="custom-select mb-3">
          <option *ngFor="let degree of degrees"> {{degree}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['degree'].invalid && (angForm.controls['degree'].dirty || angForm.controls['degree'].touched)"
        class="alert alert-danger">`
        <div *ngIf="angForm.controls['degree'].errors.required">
          Admission to Degree is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-12">City</label>
        <input type="text" class="form-control" formControlName="city"/>
      </div>
      <div
        *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['city'].errors.required">
          City is required.
        </div>
      </div>

      <div class="form-group">
        <button (click)="updateStudent()" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
          <span class="fa fa-pencil">Update Student</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" routerLink="/student-add">
          <span class="fa fa-plus">Add new student</span>
        </button>
      </div>

    </form>
  </div>
</div>
