<div class="container">
  <div class="card cards shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">
      <div class="row justify-content-center">
        <div><strong>{{student?.fullName}}</strong></div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
        <img class="card-img-top" [src]="getImage(student)" style="width: 100%;height: 100%"
             alt="Card image cap">
      </div>
      <div class="col-md-8">
        <hr/>
        <div class="row justify-content-center">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Roll Number</strong> : {{student?.rollNumber}}</li>
            <li class="list-group-item"><strong>City</strong> : {{student?.city}}</li>
            <li class="list-group-item"><strong>Admission Date</strong> : {{student?.createdAt | truncatedate}}</li>
            <li class="list-group-item"><strong>Admission to year</strong> : {{student?.admissionYear}}</li>
            <li class="list-group-item"><strong>Admission For</strong> : {{student?.degree}}</li>
            <li class="list-group-item"><strong>Admitted By</strong> : {{student?.createdBy.userName}}</li>
            <li class="list-group-item"><strong>Updated By</strong> : {{student?.updatedBy.userName}}</li>
          </ul>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>

